.body{
    margin: 0;
    padding: 0;
}

.nav{
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 80% 20%;
    height: 50px;
    width: 97%;
    margin: auto;
    margin-top: 20px;
}

.nav-anchor{
    cursor: pointer;
    height: 20px;
    text-decoration: none;
    color: black;
}

.nav-title{
    font-size: 28px;
    margin: auto;
    margin-left: 30px;
}

.nav-right{
    display: grid;
    grid-template-columns: 50% 50%;
}

.nav-button{
    width: 80%;
    height: 30px;
    border: none;
    color: #fff;
}

.nav-add-prod{
    background-color: green;
}

.nav-del-prod{
    background-color: red;
}

.body-div{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    margin: 30px;
}

.product-box{
    border-style: solid;
    border-width: 1.5px;
    width: 90%;
    margin: auto;
}

.product-box-text{
    text-align: center;
}

.product-nav{
    display: grid;
    grid-template-columns: 90% 10%;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    width: 97%;
    margin: auto;
    border-radius: 5px;
}

.product-nav-title{
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
}

.product-nav-anchor{
    cursor: pointer;
}

.product-nav-button{
    width: 80%;
    border: none;
    background-color: red;
    color: #fff;
    height: 30px;
    margin-top: 30px;
}

.product-form{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    width: 70%;
    margin:auto;
    margin-top: 30px;
}

.product-form-div{
    display: grid;
    grid-template-rows: auto;
    width: 95%;
    margin: auto;
}

.product-form-label{
    margin: 10px 5px 10px 5px;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

.product-form-input{
    margin: 10px 5px 10px 5px;
    height: 20px;
}

.product-form-select{
    margin: 10px 5px 10px 5px;
    height: 30px;
}

.product-form-submit{
    margin: 10px 5px 10px 5px;
    height: 50px;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 26px;
}

.product-form-submit:hover{
    background-color: rgb(13, 175, 13);
}

.error-div{
    margin: auto;
}

.error-text{
    text-align: center;
    color: rgb(141, 19, 19);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}